#categories, #cart {
    display: inline-block;
}

#cart {
    float: right;
    text-align: center;
}

body {
    background-image: url("Images/5883.jpg");
    background-size: cover;
  }

.side_nav{
    /*border-style: solid;*/
    width: 200px;
    top: 80px;
    backdrop-filter: blur(5px);
}