*{
    padding: 0;
    margin: 0;
    /*box-sizing: border-box;*/
}

#categories, #cart {
    display: inline-block;
    cursor: pointer;
}

#cart {
    float: right;
    text-align: center;
    cursor: pointer;
}

body {
    background-image: url("Images/5883.jpg");
    background-size: cover;
  }

.side_nav {
    /*border-style: solid;*/
    width: 55px;
    top: 80px;
    left: 0;
    backdrop-filter: blur(10px);
    transition: width 0.5s;
}

ul {
    list-style: none;
    padding: 10px;
}

ul li {
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    cursor: pointer;
}

ul li img {
    width: 30px;
    margin-right: 10px;
}

ul li p {
    white-space: nowrap;
    display: none;
    transition: display 0.5s;
}
.side_nav:hover{
    width: 225px;
}
.side_nav:hover ul li p{
    display: inline-block;
}