*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#categories, #logo, #cart {
    display: inline-block;
    cursor: pointer;
}

#header {
    display: flex;
    justify-content: space-between;
}

#logo {
    display:flex;
    align-items:baseline;
    font-size:x-large;
}

#cart {
    float: right;
    text-align: center;
    cursor: pointer;
}

body {
    background-image: url("Images/5883.jpg");
    background-size: cover;
  }

.side_nav {
    position: absolute;
    /*border-style: solid;*/
    width: 55px;
    top: 80px;
    left: 0;
    backdrop-filter: blur(10px);
    transition: width 0.5s;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 10px;
}

ul li {
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    cursor: pointer;
}

ul li img {
    width: 30px;
    margin-right: 10px;
}

ul li p {
    white-space: nowrap;
    display: none;
    transition: display 0.5s;
}
.side_nav:hover{
    width: 225px;
}
.side_nav:hover ul li p{
    display: inline-block;
}

.flex-container {
    border: 6px solid black;
    border-style: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    justify-content: flex-start;
    margin-left: 60px;
}

.item-1{
    width: 300px;
    height: 300px;
    border: 6px solid white;
    backdrop-filter: blur(10px);
}

.item-2{
    backdrop-filter: blur(10px);
    width: 300px;
    height: 300px;
    border: 6px solid white;
}

.item-3{
    backdrop-filter: blur(10px);
    width: 300px;
    height: 300px;
    border: 6px solid white;
}

.item-4{
    backdrop-filter: blur(10px);
    width: 300px;
    height: 300px;
    border: 6px solid white;
}

.item-5{
    backdrop-filter: blur(10px);
    width: 300px;
    height: 300px;
    border: 6px solid white;
}

.item-6{
    backdrop-filter: blur(10px);
    width: 300px;
    height: 300px;
    border: 6px solid white;
}

.item-7{
    backdrop-filter: blur(10px);
    width: 300px;
    height: 300px;
    border: 6px solid white;
}

.item-8{
    backdrop-filter: blur(10px);
    width: 300px;
    height: 300px;
    border: 6px solid white;
}

.item-9{
    backdrop-filter: blur(10px);
    width: 300px;
    height: 300px;
    border: 6px solid white;
}

.search {
    display: flex;
    justify-content: center;
}